@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

:root{
    --vermelho:#D61F26;
    --preta:#040C0E;
    --cinza:#C4C4C4;
    --branco:#FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif, times;
}


/* Elementos base */
body    {
    background-color: var(--preta);
    color: var(--branco);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(4, 12, 14, .15);
    backdrop-filter: blur(5px);
    
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.logo-N {
    width: 25px;
}

.Logo-Netflix {
    width: 125px;
}

.box-Perfil i {
    margin-right: 8px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;
}

.Logo-Perfil {
    width: 40px;
    border-radius: 10px;
}

header nav a {
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--branco);
    margin-right: 10px;
}


/* Filme de Destaque */
.filme-principal  {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../image/banner0.png');  
    height: 600px;
    background-size: cover;

    display: flex; /* Em linha - Por padrão */
    flex-direction: column; /* Coluna */
    justify-content: center;
    align-items: flex-start; /* Comece sempre da esquerda para direita */
}

.filme-principal .descricao-Destaque {
    margin-top: 10px;
    margin-bottom: 30px;
}

.filme-principal .logo-Destaque img {
    margin-top: 5%;
    width: 100%;
}

 .botao   {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 10px 25px; /* 15 e 30 */
    margin-right: 15px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover    {
    background-color: white;
    color: black;
}

.botao i  {
    margin-right: 8px;
}

.box-filme  {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
}